{% extends 'shared/_layout.html' %}

{% block title %}
فراموشی کلمه عبور
{% endblock %}


{% block content %}
<main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            </nav><!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
                style="background-image: url('/static/images/backgrounds/login-bg.jpg')">
                <div class="container">
                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2"
                                        role="tab" aria-controls="register-2" aria-selected="false">بازیابی</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade show active" id="register-2" role="tabpanel"
                                    aria-labelledby="register-tab-2">
                                    <form method="post" action="{% url 'reset_password_page' active_code=user.email_active_code %}">
                                          <div class="form-group">
                                              {% csrf_token %}
                                    {{ reset_pass_form}}
                                              {{ reset_pass_form.errors }}
                                    </div>


                                        <div class="form-footer">
                                                 <button type="submit" class="btn btn-outline-primary-2">فراموشی کلمه عبور</button>
                                                <i class="icon-long-arrow-left"></i>

                                            {% comment %}<div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="register-policy-2" required>
                                                <label class="custom-control-label" for="register-policy-2">من با <a
                                                        href="#">قوانین و مقررات</a> موافقم *</label>
                                            </div><!-- End .custom-checkbox -->{% endcomment %}
                                        </div><!-- End .form-footer -->
                                    </form>
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->
{% endblock %}
