                             {% load thumbnail %}
{% load poll_extras%}

<div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                <span class="product-label label-new">جدید</span>
                                                {% if product.image %}
                                                     {% thumbnail product.image "268x250" quality=80 crop='center' as im %}
                                                     <img src="{{ im.url }}">
                                                            {% endthumbnail %}
                                                    {% else %}
                                                    <img src="" alt="" class="product-image">
                                                {% endif %}
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat text-center">
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title text-center"><a href="{% url 'product-detail' slug=product.slug %}">{{ product.title }}</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    {{ product.price | three_digits_currency }}
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 2 بازدید )</span>
                                                </div><!-- End .rating-container -->

                                                <a href="{% url 'product-detail' slug=product.slug %}"
                                                class="details1"><p>مشاهده جزئیات</p></a>

                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->