{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% load thumbnail %}

{% block title %}
    {{ product.title }}
{% endblock %}


{% block header_references %}
<link rel="stylesheet" href="/static/lib/image-lightbox/css/lightbox.min.css">
{% endblock %}

{% block footer_references %}
<script src="/static/lib/image-lightbox/js/lightbox.min.js"></script>
{% comment %}<script src="/static/lib/image-lightbox/js/lightbox-plus-jquery.min.js"></script>{% endcomment %}
{% endblock %}

{% block content %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top mb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            {% if product.image %}
                                             <img id="product-zoom" src="{{ product.image.url }}"
                                                data-zoom-image=""
                                                alt="تصویر محصول">
                                            {% endif %}

                                            <a href="{{ product.image.url }}"
                                               id="btn-product-gallery"
                                               class="btn-product-gallery"
                                            data-lightbox = "product-image">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                      {% for group in product_galleries_group %}
                                          <div id="product-zoom-gallery" class="product-image-gallery {% if forloop.first %}active{% endif %}">
                                            {% for gallery in group %}
                                                      <a class="product-gallery-item" onclick="showLargeImage('{{ gallery.image.url }}')">
                                                          <!-- میخوایم وقتی روی این عکس کلیک کرد جایگزین عکس اصلی بشه -->
                                                    <img src="{{ gallery.image.url }}" width="94.25" height="84.25"
                                                    alt="توضیحات تصویر">
                                            </a>
                                            {% endfor %}

                                        </div><!-- End .product-image-gallery -->
                                      {% endfor %}

                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details product-details-centered">
                                    <h1 class="product-title text-center">{{ product.title }}</h1>
                                    <!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 2 نظر
                                            )</a>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price text-center">
                                        {{ product.price | three_digits_currency }}
                                    </div><!-- End .product-price -->


                                    <div class="details-filter-row details-row-size">
                                        <label>رنگ : </label>

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #cc9966;"><span
                                                    class="sr-only">نام رنگ</span></a>
                                            <a href="#" style="background: #333333;"><span class="sr-only">نام
                                                    رنگ</span></a>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="size">سایز : </label>
                                        <div class="select-custom">
                                            <select name="size" id="size" class="form-control">
                                                <option value="#" selected="selected">سایز را انتخاب کنید</option>
                                                <option value="s">کوچک (Small)</option>
                                                <option value="m">متوسط (Medium)</option>
                                                <option value="l">بزرگ (Large)</option>
                                                <option value="xl">خیلی بزرگ (XLarge)</option>
                                            </select>
                                        </div><!-- End .select-custom -->

                                        <a href="#" class="size-guide"><i class="icon-th-list"></i>راهنمای سایز</a>
                                    </div><!-- End .details-filter-row -->

                                    <div class="product-details-action">
                                        <div class="details-action-col">
                                            <div class="product-details-quantity">
                                                <input type="number" id="qty" class="form-control" value="1" min="1"
                                                     step="1" data-decimals="0" required>
                                            </div><!-- End .product-details-quantity -->

                                            <a onclick="addProductToOrder({{ product.id }})" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
                                        </div><!-- End .details-action-col -->


                                        {% comment %}<div class="details-action-wrapper">
                                            <a href="#" class="btn-product btn-wishlist"
                                                title="لیست علاقه مندی"><span>افزودن
                                                    به لیست علاقه مندی</span></a> </div>{% endcomment %}

										<form action="{% url 'product-favorite' %}" method="post" class="details-action-wrapper">
                                            {% csrf_token %}
										<input type="hidden" name="product_id" value="{{ product.id }}"
                                               class="search_box">
										<button type="submit" class="btn-product btn-wishlist">
											<i class=""></i>
											ثبت به عنوان کالای محبوب
										</button>
                                        </form>

                                            <a href="#" class="btn-product btn-compare" title="مقایسه"><span>افزودن به
                                                    لیست مقایسه</span></a>
                                        <!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->
                                   {% if product.brand %}
                                        <p class="text-center"><b> برند :</b> {{ product.brand.title }} </p>

                                   {% endif %}

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>دسته بندی</span>
                                            <a href="#">زنانه</a>،
                                            <a href="#">لباس</a>،
                                            <a href="#">زرد</a>
                                        </div><!-- End .product-cat -->

                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">اشتراک گذاری : </span>
                                            <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                                    class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                                    class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                                    class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" title="پینترست" target="_blank"><i
                                                    class="icon-pinterest"></i></a>
                                        </div>
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                    href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                    aria-selected="true">توضیحات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab"
                                    href="#product-review-tab" role="tab" aria-controls="product-review-tab"
                                    aria-selected="false">نظرات (2)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>اطلاعات محصول</h3>
                                    <p>{{ product.description | safe }}</p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                                aria-labelledby="product-review-link">
                                <div class="reviews">
                                    <h3>نظر (2)</h3>
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">کاربر 1</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">4 روز پیش</span>
                                            </div><!-- End .col -->
                                            <div class="col-12">
                                                <h4>عالی، سایز فوق العاده</h4>

                                                <div class="review-content">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،لورم ایپسوم متن
                                                        ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید
                                                        سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم!</p>
                                                </div><!-- End .review-content -->

                                                <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>مثبت (2)</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>منفی (0)</a>
                                                </div><!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->

                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">کاربر 2</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 100%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">2 روز پیش</span>
                                            </div><!-- End .col -->
                                            <div class="col-12">
                                                <h4>خیلی عالی</h4>

                                                <div class="review-content">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن
                                                        ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                                        سادگی نامفهوم.</p>
                                                </div><!-- End .review-content -->

                                                <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>مثبت (0)</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>منفی (0)</a>
                                                </div><!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->
                                </div><!-- End .نظر -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

                    <h2 class="title text-center mb-4">محصولات مرتبط</h2><!-- End .title text-center -->

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                            "nav": false,
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "rtl": true,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                    {% for group in related_products %}
                    {% for product in group %}
                    <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-new">جدید</span>
                              {% thumbnail product.image "268x250" quality=80 crop='center' as im %}
                                                     <img src="{{ im.url }}">
                                                            {% endthumbnail %}

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن به
                                            لیست علاقه مندی</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="مقایسه"><span>لیست
                                            مقایسه</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="{% url 'product-detail' slug=product.slug %}" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat text-center">
                                    <a href="#">زنانه</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title text-center"><a href="product.html">{{ product.title }}</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    {{ product.price | three_digits_currency }}
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 2 دیدگاه )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                        <img src="/static/images/products/product-4-thumb.jpg" alt="product desc">
                                    </a>
                                    <a href="#">
                                        <img src="/static/images/products/product-4-2-thumb.jpg" alt="product desc">
                                    </a>

                                    <a href="#">
                                        <img src="/static/images/products/product-4-3-thumb.jpg" alt="product desc">
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    {% endfor %}

                    {% endfor %}
                    
                        

                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock %}